﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Latest Article</h1>
    <p>
        Tupacsum Ipsum They got money for wars, but can't feed the poor. Paintin a picture of my enemies killin me, in my sleep. Disillusioned lately, I've been really wantin babies . I'm barely standin, bout to go to pieces, screamin peace. And I realize momma really paid the price.
    </p>
    <p>
        There are no words that can express how I feel. And all I had ta give her was my pipe dream. I'm barely standin, bout to go to pieces, screamin peace. And even though you're fed up.
    </p>
    <p>
        And uhh, I know they like to beat ya down a lot. And all I had ta give her was my pipe dream. Cause I bet Brenda doesn't even know.
    </p>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
</div>